<div class="pb-2">
  <h4><a href="#" title="Vai alla pagina: Seguici su" class="">Seguici su</a></h4>
  <ul class="list-inline text-left social">
    {% for social-link in site.data.t.social-links[page.lang] %}
    <li class="list-inline-item">
      <a rel="noreferrer" href="{{ social-link[1].url }}" title="{{ social-link[1].name }}" target="_blank"
        class="p-2 text-white">
        <svg class="icon icon-sm icon-white align-top">
          <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ social-link[1].name }}">
          </use>
        </svg>
        <span class="sr-only">{{ social-link[1].name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>