---
layout: comune-di-cagliari
title: "Novità"
---

<!-- Google Tag Manager -->
<div class="body_wrapper push_container clearfix" id="page_top">
  <!--[if lt IE 8]>
    <p class="browserupgrade">È necessario aggiornare il browser</p>
  <![endif]-->
  <div class="skiplink sr-only">
    <ul>
      <li>
        <a accesskey="2" href="novita.html#main_container">Vai ai contenuti</a>
      </li>
      <li>
        <a accesskey="3" href="novita.html#menup">Vai al menu di navigazione</a>
      </li>
      <li><a accesskey="4" href="novita.html#footer">Vai al footer</a></li>
    </ul>
  </div>
  <header id="mainheader" class="navbar-fixed-top bg-blu container-fullwidth">
    <!-- Fascia Appartenenza -->
    <section class="preheader bg-bluscuro">
      <div class="container">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 entesup">
            <a
              aria-label="Collegamento a sito esterno - Sito della Regione Sardegna - nuova finestra"
              title="Regione Autonoma della Sardegna"
              href="http://www.regione.sardegna.it"
              target="_blank"
            >
              Regione Autonoma della Sardegna
            </a>
            <div class="float-right">
              <!-- siti verticali -->
              <div
                class="sitiverticali float-left text-right d-none d-xl-block d-lg-block"
              >
                <a
                  aria-label="Collegamento a sito esterno - Sito CagliariTurismo - nuova finestra"
                  title="CagliariTurismo"
                  href="http://www.cagliariturismo.it"
                  target="_blank"
                  >CagliariTurismo</a
                >
                <a
                  aria-label="Collegamento a sito esterno - Sito CagliariSportiva - nuova finestra"
                  title="CagliariSportiva"
                  href="http://www.cagliarisportiva.it"
                  target="_blank"
                  >CagliariSportiva</a
                >
              </div>
              <!-- siti verticali -->
              <!-- accedi -->
              <div class="accedi float-left text-right">
                <a class="btn btn-default btn-accedi" href="#">
                  <svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-account_circle"
                    ></use>
                  </svg>
                  <span>Accedi all&#8217;area personale</span>
                </a>
              </div>
              <!-- accedi -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Fascia Appartenenza -->
    <!-- Button Menu -->
    <button
      class="navbar-toggle menu-btn pull-left menu-left push-body jPushMenuBtn"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar icon-bar1"></span>
      <span class="icon-bar icon-bar2"></span>
      <span class="icon-bar icon-bar3"></span>
    </button>
    <!--End Button Menu -->

    <!-- Menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="menup">
      <div class="cbp-menu-wrapper clearfix">
        <div class="logo-burger">
          <div class="logoimg-burger">
            <a
              href="index.html"
              title="Comune di Cagliari - Sito istituzionale"
            >
              <img
                src="static/img/logo_cagliari_print.svg"
                alt="Logo del Comune di Cagliari"
              />
            </a>
          </div>
          <div class="logotxt-burger">
            <a href="index.html" title="Comune di Cagliari - Sito istituzionale"
              >Comune di Cagliari</a
            >
          </div>
        </div>

        <h2 class="sr-only">Menu principale</h2>

        <ul class="nav navmenu">
          <li>
            <a href="index.html" title="Vai alla pagina: Home">
              Home
            </a>
          </li>

          <li>
            <a
              href="amministrazione.html"
              title="Vai alla pagina: Amministrazione"
            >
              Amministrazione
            </a>
          </li>
          <li>
            <a href="servizi.html" title="Vai alla pagina: Servizi">
              Servizi
            </a>
          </li>
          <li>
            <a
              href="novita.html"
              title="Vai alla pagina: Novità"
              class="current"
            >
              Novità
            </a>
          </li>
          <li>
            <a href="documenti.html" title="Vai alla pagina: Documenti">
              Documenti
            </a>
          </li>
        </ul>
        <ul class="utilitymobile">
          <li>
            <a href="muoversi.html" title="Vai alla pagina: Muoversi"
              >Muoversi</a
            >
          </li>
          <li>
            <a href="#" title="Vai alla pagina: La citt&agrave; che cambia"
              >La citt&agrave; che cambia</a
            >
          </li>
          <li>
            <a href="#" title="Vai alla pagina: Cultura">Cultura</a>
          </li>
          <li>
            <a href="#" title="Vai alla pagina: Tutti gli argomenti..."
              >Tutti gli argomenti...</a
            >
          </li>
        </ul>
        <ul class="list-inline socialmobile">
          <li class="small">Seguici su</li>
          <li class="">
            <a
              target="_blank"
              aria-label="Collegamento a sito esterno - Twitter - nuova finestra"
              href="https://twitter.com/Comune_Cagliari"
              title="Seguici su Twitter"
              ><svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-twitter"
                ></use></svg
              ><span class="hidden">Seguici su Twitter</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              aria-label="Collegamento a sito esterno - Facebook - nuova finestra"
              href="https://www.facebook.com/comunecagliarinews.it"
              title="Seguici su Facebook"
              ><svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-facebook"
                ></use></svg
              ><span class="hidden">Seguici su Facebook</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              aria-label="Collegamento a sito esterno - YouTube - nuova finestra"
              href="https://www.youtube.com/user/ComuneCagliariNews"
              title="Seguici su YouTube"
              ><svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-youtube"
                ></use></svg
              ><span class="hidden">Seguici su YouTube</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              aria-label="Collegamento a sito esterno - Telegram - nuova finestra"
              href="https://telegram.me/comunecagliari"
              title="Seguici su Telegram"
              ><svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-telegram"
                ></use></svg
              ><span class="hidden">Seguici su Telegram</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra"
              href="tel:+393290582872"
              title="Contattaci su WhatApp"
              ><svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-whatsapp"
                ></use></svg
              ><span class="hidden">Contattaci su WhatApp</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Menu -->

    <!-- Intestazione -->
    <div class="container header">
      <div class="row clearfix">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 comune">
          <div class="logoprint">
            <h1>
              <img
                src="static/img/logo_cagliari_print.png"
                alt="Logo del Comune di Cagliari"
              />
              Comune di Cagliari
            </h1>
          </div>
          <div class="logoimg">
            <a
              href="index.html"
              title="Comune di Cagliari - Sito istituzionale"
            >
              <img
                src="static/img/logo_cagliari.svg"
                alt="Logo del Comune di Cagliari"
              />
            </a>
          </div>
          <div class="logotxt">
            <h1>
              <a
                href="index.html"
                title="Comune di Cagliari - Sito istituzionale"
                >Comune di Cagliari</a
              >
            </h1>
          </div>
          <!-- pulsante ricerca mobile -->
          <div class="p_cercaMobile clearfix">
            <button
              aria-label="Cerca"
              class="btn btn-default btn-cerca pull-right"
              data-target="#searchModal"
              data-toggle="modal"
              type="button"
            >
              <svg class="icon">
                <use xlink:href="static/img/ponmetroca.svg#ca-search"></use>
              </svg>
            </button>
          </div>
          <!-- pulsante ricerca mobile -->
        </div>

        <div
          class="col-xl-3 col-lg-3 d-none d-lg-block d-md-none pull-right text-right"
        >
          <!-- social-->
          <ul class="list-inline text-right social">
            <li class="small list-inline-item">Seguici su</li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://twitter.com/Comune_Cagliari"
                aria-label="Collegamento a sito esterno - Twitter - nuova finestra"
                title="Seguici su Twitter"
                ><svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-twitter"
                  ></use></svg
                ><span class="hidden">Seguici su Twitter</span></a
              >
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://www.facebook.com/comunecagliarinews.it"
                aria-label="Collegamento a sito esterno - Facebook - nuova finestra"
                title="Seguici su Facebook"
                ><svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-facebook"
                  ></use></svg
                ><span class="hidden">Seguici su Facebook</span></a
              >
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://www.youtube.com/user/ComuneCagliariNews"
                aria-label="Collegamento a sito esterno - YouTube - nuova finestra"
                title="Seguici su YouTube"
                ><svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-youtube"
                  ></use></svg
                ><span class="hidden">Seguici su YouTube</span></a
              >
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://telegram.me/comunecagliari"
                aria-label="Collegamento a sito esterno - Telegram - nuova finestra"
                title="Seguici su Telegram"
                ><svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-telegram"
                  ></use></svg
                ><span class="hidden">Seguici su Telegram</span></a
              >
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="tel:+393290582872"
                aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra"
                title="Contattaci su WhatApp"
                ><svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-whatsapp"
                  ></use></svg
                ><span class="hidden">Contattaci su WhatApp</span></a
              >
            </li>
          </ul>
          <!-- social-->
        </div>

        <div
          class="col-xl-2 col-lg-2 col-md-4 d-none d-md-block d-md-none text-right"
        >
          <!-- ricerca -->
          <div class="cerca float-right">
            <span>Cerca</span>
            <button
              aria-label="Cerca"
              class="btn btn-default btn-cerca pull-right"
              type="button"
              data-toggle="modal"
              data-target="#searchModal"
            >
              <svg class="icon">
                <use xlink:href="static/img/ponmetroca.svg#ca-search"></use>
              </svg>
            </button>
          </div>
          <!-- ricerca -->
        </div>
      </div>
    </div>
    <!-- Intestazione -->
    <section class="hidden-xs" id="sub_nav">
      <h2 class="sr-only">Submenu</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 pull-left text-left">
            <ul class="sub_nav clearfix">
              <li>
                <a
                  href="amministrazione.html"
                  title="Vai alla pagina: Amministrazione"
                >
                  Amministrazione
                </a>
              </li>

              <li>
                <a href="servizi.html" title="Vai alla pagina: Servizi">
                  Servizi
                </a>
              </li>

              <li class="active">
                <a href="novita.html" title="Vai alla pagina: Novità">
                  Novità
                </a>
              </li>

              <li>
                <a href="documenti.html" title="Vai alla pagina: Documenti">
                  Documenti
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-4 pull-right text-right">
            <ul class="list_link-utili">
              <li>
                <a href="muoversi.html" title="Vai alla pagina: Muoversi"
                  >Muoversi</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: La citt&agrave; che cambia"
                  >La citt&agrave; che cambia</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Cultura">Cultura</a>
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Tutti gli argomenti..."
                  >Tutti gli argomenti...</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main id="main_container">
    <section id="briciole">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-9 col-md-12">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html" title="Vai alla pagina: Home">Home</a
                  ><span class="separator">/</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <a>Novità</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-6 col-md-7">
            <div class="titolo-sezione">
              <h2>Novit&agrave;</h2>
              <p>
                Eventi culturali e sportivi, comunicati stampa e notizie
                pi&ugrave; importanti sempre aggiornate, della citt&agrave; di
                Cagliari.
              </p>
              <form
                data-ng-cloak
                data-ng-controller="ctrlRicerca as ctrl"
                action="ricerca.html"
                method="post"
              >
                <div class="form-group">
                  <label class="sr-only" for="cerca-intro"
                    >Cerca Amministrazione</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="cerca-intro"
                    name="cercatxt"
                    placeholder="Cerca amministrazione"
                    data-ng-model="ctrl.Ricerca.cercatxt"
                  />
                  <a
                    class="ico-sufix"
                    data-ng-click="ctrl.Ricerca.setActive(); ctrl.General.setFiltriMode(true, true, 'Home,Amministrazione,')"
                    data-toggle="modal"
                    data-target="#searchModal"
                  >
                    <svg class="icon">
                      <use
                        xlink:href="static/img/ponmetroca.svg#ca-search"
                      ></use>
                    </svg>
                  </a>
                </div>
                <div class="form-filtro">
                  <h5>Filtri</h5>
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-class="ctrl.Ricerca.class_tutti()"
                    data-ng-click="ctrl.Ricerca.toggleAll()"
                    >Tutto</a
                  >
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-class="ctrl.Ricerca.class_categorie(ctrl.Ricerca.get_ammins_selected(), ctrl.Ricerca.get_ammins_chk())"
                    data-ng-click="ctrl.Ricerca.ammins_toggleAll()"
                    data-ng-if="ctrl.Ricerca.get_ammins_selected().length == ctrl.Ricerca.get_ammins_chk().length"
                    ><svg class="icon">
                      <use
                        xlink:href="static/img/ponmetroca.svg#ca-account_balance"
                      ></use>
                    </svg>
                    Amministrazione</a
                  >
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-class="ctrl.Ricerca.class_categorie(ctrl.Ricerca.get_servizi_selected(), ctrl.Ricerca.get_servizi_chk())"
                    data-ng-click="ctrl.Ricerca.servizi_toggleAll()"
                    data-ng-if="ctrl.Ricerca.get_servizi_selected().length == ctrl.Ricerca.get_servizi_chk().length"
                    ><svg class="icon">
                      <use
                        xlink:href="static/img/ponmetroca.svg#ca-settings"
                      ></use>
                    </svg>
                    Servizi</a
                  >
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-class="ctrl.Ricerca.class_categorie(ctrl.Ricerca.get_novita_selected(), ctrl.Ricerca.get_novita_chk())"
                    data-ng-click="ctrl.Ricerca.novita_toggleAll()"
                    data-ng-if="ctrl.Ricerca.get_novita_selected().length == ctrl.Ricerca.get_novita_chk().length"
                    ><svg class="icon">
                      <use
                        xlink:href="static/img/ponmetroca.svg#ca-event"
                      ></use>
                    </svg>
                    Novit&agrave;</a
                  >
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-class="ctrl.Ricerca.class_categorie(ctrl.Ricerca.get_docs_selected(), ctrl.Ricerca.get_docs_chk())"
                    data-ng-click="ctrl.Ricerca.docs_toggleAll()"
                    data-ng-if="ctrl.Ricerca.get_docs_selected().length == ctrl.Ricerca.get_docs_chk().length"
                    ><svg class="icon">
                      <use
                        xlink:href="static/img/ponmetroca.svg#ca-description"
                      ></use>
                    </svg>
                    Documenti</a
                  >
                  <div
                    data-ng-if="ctrl.Ricerca.get_ammins_selected().length !== ctrl.Ricerca.get_ammins_chk().length"
                    data-ng-repeat="item in ctrl.Ricerca.get_ammins_selected()"
                    class="btn-badge active"
                  >
                    <span data-ng-bind-html="item">-</span>
                    <a
                      data-ng-click="ctrl.Ricerca.unchk(item, ctrl.Ricerca.get_ammins_selected())"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.get_servizi_selected().length !== ctrl.Ricerca.get_servizi_chk().length"
                    data-ng-repeat="item in ctrl.Ricerca.get_servizi_selected()"
                    class="btn-badge active"
                  >
                    <span data-ng-bind-html="item">-</span>
                    <a
                      data-ng-click="ctrl.Ricerca.unchk(item, ctrl.Ricerca.get_servizi_selected())"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.get_novita_selected().length !== ctrl.Ricerca.get_novita_chk().length"
                    data-ng-repeat="item in ctrl.Ricerca.get_novita_selected()"
                    class="btn-badge active"
                  >
                    <span data-ng-bind-html="item">-</span>
                    <a
                      data-ng-click="ctrl.Ricerca.unchk(item, ctrl.Ricerca.get_novita_selected())"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.get_docs_selected().length !== ctrl.Ricerca.get_docs_chk().length"
                    data-ng-repeat="item in ctrl.Ricerca.get_docs_selected()"
                    class="btn-badge active"
                  >
                    <span data-ng-bind-html="item">-</span>
                    <a
                      data-ng-click="ctrl.Ricerca.unchk(item, ctrl.Ricerca.get_docs_selected())"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.get_args_selected().length !== ctrl.Ricerca.get_argomenti().length"
                    data-ng-repeat="item in ctrl.Ricerca.get_args_selected()"
                    class="btn-badge active"
                  >
                    <span data-ng-bind-html="item">-</span>
                    <a
                      data-ng-click="ctrl.Ricerca.unchk(item, ctrl.Ricerca.get_args_selected())"
                      class="btn-badge-close"
                    >
                      <svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use>
                      </svg>
                    </a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.active_chk"
                    class="btn-badge active"
                  >
                    Contenuti attivi
                    <a
                      data-ng-click="ctrl.Ricerca.active_chk = null"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.data_inizio && ctrl.Ricerca.data_fine"
                    class="btn-badge active"
                  >
                    Dal&nbsp;{% raw %}{{ ctrl.Ricerca.data_inizio }}{% endraw
                    %}&nbsp;al&nbsp;{% raw %}{{ ctrl.Ricerca.data_fine }}{%
                    endraw %}
                    <a
                      data-ng-click="ctrl.Ricerca.clean_date()"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="ctrl.Ricerca.data_inizio && !ctrl.Ricerca.data_fine"
                    class="btn-badge active"
                  >
                    Dal&nbsp;{% raw %}{{ ctrl.Ricerca.data_inizio }}{% endraw %}
                    <a
                      data-ng-click="ctrl.Ricerca.clean_date()"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <div
                    data-ng-if="!ctrl.Ricerca.data_inizio && ctrl.Ricerca.data_fine"
                    class="btn-badge active"
                  >
                    Fino a&nbsp;{% raw %}{{ ctrl.Ricerca.data_fine }}{% endraw
                    %}
                    <a
                      data-ng-click="ctrl.Ricerca.clean_date()"
                      class="btn-badge-close"
                      ><svg class="icon">
                        <use
                          xlink:href="static/img/ponmetroca.svg#ca-clear"
                        ></use></svg
                    ></a>
                  </div>
                  <a
                    class="btn btn-default btn-trasparente"
                    data-ng-click="ctrl.Ricerca.setActive(); ctrl.General.setFiltriMode(true, true, 'Home,Amministrazione,')"
                    aria-label="Dettaglio filtri"
                    data-toggle="modal"
                    data-target="#searchModal"
                    >...</a
                  >
                </div>
              </form>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-3 offset-lg-1 offset-md-1 col-md-4">
            <aside id="menu-sezione">
              <nav>
                <h4>
                  TUTTE LE NOVITÀ
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="#" title="Vai alla pagina: Notizie">
                      Notizie
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="#" title="Vai alla pagina: Eventi">
                      Eventi
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="#" title="Vai alla pagina: Comunicati stampa">
                      Comunicati stampa
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <section id="sezioni-inevidenza" class="bg-grigio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titolosezione">
              <h3>In evidenza</h3>
            </div>
          </div>
        </div>
        <div class="row bricklayer">
          <div>
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia1.jpg"
                    alt="traffico"
                    class="img-fluid"
                  />
                </figure>
              </div>
              <div class="scheda-icona-small">
                <svg class="icon">
                  <use xlink:href="static/img/ponmetroca.svg#ca-today"></use>
                </svg>
                Notizie
              </div>

              <div class="scheda-testo">
                <h4>
                  <a
                    href="#"
                    title="Vai alla notizia: Una citt&agrave; in costante rinnovamento"
                    >Una citt&agrave; in costante rinnovamento</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Muoversi"
                  class="badge badge-pill badge-argomenti"
                  >Muoversi</a
                >
                <a
                  href="#"
                  title="Vai all'argomento: La città che cambia"
                  class="badge badge-pill badge-argomenti"
                  >La città che cambia</a
                >
              </div>
            </article>
          </div>
          <div>
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia2.jpg"
                    alt="lirica"
                    class="img-fluid"
                  />
                </figure>
                <div class="scheda-data">
                  <strong>7</strong>
                  gen
                </div>
              </div>
              <div class="scheda-icona-small">
                <svg class="icon">
                  <use xlink:href="static/img/ponmetroca.svg#ca-event"></use>
                </svg>
                Eventi
              </div>

              <div class="scheda-testo">
                <h4>
                  <a
                    href="#"
                    title="Vai alla notizia: Al via la nuova la stagione del Teatro Lirico di Cagliari"
                    >Al via la nuova la stagione del Teatro Lirico di
                    Cagliari</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Cultura"
                  class="badge badge-pill badge-argomenti"
                  >Cultura</a
                >
              </div>
            </article>
          </div>
          <div>
            <article class="scheda scheda-round scheda-breve scheda-news">
              <div class="scheda-icona-small">
                <svg class="icon">
                  <use xlink:href="static/img/ponmetroca.svg#ca-today"></use>
                </svg>
                Notizie
              </div>
              <div class="scheda-testo no-mr-sm">
                <h4>
                  <a
                    href="#"
                    title="Vai alla notizia: Raccolta differenziata: pubblicati i dati del 2018"
                  >
                    Raccolta differenziata: pubblicati i dati del 2018</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </article>
          </div>
          <div>
            <article class="scheda scheda-round scheda-breve scheda-news">
              <div class="scheda-icona-small">
                <svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-description"
                  ></use>
                </svg>
                Comunicati stampa
              </div>
              <div class="scheda-testo no-mr-sm">
                <h4>
                  <a
                    href="#"
                    title="Vai alla notizia: Il 26 settembre incontro sulla raccolta differenziata dei rifiuti"
                  >
                    Il 26 settembre incontro sulla raccolta differenziata dei
                    rifiuti</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section id="sezioni-notizie" class="pt64">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titolosezione"><h3>Notizie</h3></div>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia3.jpg"
                    alt="Tram CTM"
                    class="img-fluid"
                  />
                </figure>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Elenco dei canditati per il collegio sindacale del CTM"
                    >Elenco dei canditati per il collegio sindacale del CTM</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Muoversi"
                  class="badge badge-pill badge-argomenti"
                  >Muoversi</a
                >
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia4.jpg"
                    alt="Hotel Mediterraneo"
                    class="img-fluid"
                  />
                </figure>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Parte il progetto di riqualificazione del Hotel Mediterraneo"
                    >Parte il progetto di riqualificazione del Hotel
                    Mediterraneo</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Cantieri in città"
                  class="badge badge-pill badge-argomenti"
                  >Cantieri in città</a
                >
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia5.jpg"
                    alt="Mercato di Santa Chiara"
                    class="img-fluid"
                  />
                </figure>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Chiude per un mese il Mercato di Santa Chiara"
                    >Chiude per un mese il Mercato di Santa Chiara</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Imprese e investitori"
                  class="badge badge-pill badge-argomenti"
                  >Imprese e investitori</a
                >
              </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 veditutti">
            <a
              href="#"
              title="Vai alla pagina: Notizie"
              class="btn btn-default btn-verde"
              >Vedi tutte
              <svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-arrow_forward"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
    </section>
    <section id="sezioni-eventi">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titolosezione"><h3>Eventi</h3></div>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia6.jpg"
                    alt="Nuraghe"
                    class="img-fluid"
                  />
                </figure>
                <div class="scheda-data"><strong>2-3</strong> Mag</div>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: La mostra di Berengo Gardin sui viaggi in Sardegna"
                    >La mostra di Berengo Gardin sui viaggi in Sardegna</a
                  >
                </h4>
                <p>
                  Tutte le informazioni utili sui principali cantieri attivi in
                  città Tutte le informazioni utili sui principali cantieri
                  attivi in città Tutte le informazioni utili sui cantieri.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Cultura"
                  class="badge badge-pill badge-argomenti"
                  >Cultura</a
                >
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia7.jpg"
                    alt="MEM"
                    class="img-fluid"
                  />
                </figure>
                <div class="scheda-data"><strong>7-17</strong> Lug</div>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Appuntamenti alla MEM sull’archivio storico"
                    >Appuntamenti alla MEM sull’archivio storico</a
                  >
                </h4>
                <p>
                  Tutte le informazioni utili sui principali cantieri attivi in
                  città Tutte le informazioni utili sui principali cantieri
                  attivi in città Tutte le informazioni utili sui cantieri.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Imparare"
                  class="badge badge-pill badge-argomenti"
                  >Imparare</a
                >
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-foto">
                <figure>
                  <img
                    src="static/img/foto/novita_notizia8.jpg"
                    alt="Cagliari Calcio"
                    class="img-fluid"
                  />
                </figure>
                <div class="scheda-data"><strong>11-13</strong> Giu</div>
              </div>
              <div class="scheda-testo mt32">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Partita di beneficenza organizzata dal Cagliari Calcio"
                    >Partita di beneficenza organizzata dal Cagliari Calcio</a
                  >
                </h4>
                <p>
                  Tutte le informazioni utili sui principali cantieri attivi in
                  città Tutte le informazioni utili sui principali cantieri
                  attivi in città Tutte le informazioni utili sui cantieri.
                </p>
              </div>
              <div class="scheda-argomenti">
                <a
                  href="#"
                  title="Vai all'argomento: Sport"
                  class="badge badge-pill badge-argomenti"
                  >Sport</a
                >
              </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 veditutti">
            <a
              href="#"
              title="Vai alla pagina: Eventi"
              class="btn btn-default btn-verde"
              >Vedi tutti
              <svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-arrow_forward"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
    </section>
    <section id="sezioni-comunicati">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titolosezione"><h3>Comunicati stampa</h3></div>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-testo mt32 no-mr-sm">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: A San Michele il 26 settembre incontro pubblico sulla raccolta differenziata dei rifiuti"
                    >A San Michele il 26 settembre incontro pubblico sulla
                    raccolta differenziata dei rifiuti</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-testo mt32 no-mr-sm">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Matrimoni: il Comune di Cagliari è presente al National Wedding Show a Londra"
                    >Matrimoni: il Comune di Cagliari è presente al National
                    Wedding Show a Londra</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="scheda scheda-round scheda-news">
              <div class="scheda-testo mt32 no-mr-sm">
                <h4>
                  <a
                    href="#"
                    title="Vai alla pagina: Sono 25 i gazebo-divulgativi nella piazza Garibaldi per La Notte dei Ricercatori"
                    >Sono 25 i gazebo-divulgativi nella piazza Garibaldi per La
                    Notte dei Ricercatori</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 veditutti">
            <a
              href="#"
              title="Vai alla pagina: Comunicati stampa"
              class="btn btn-default btn-verde"
              >Vedi tutti
              <svg class="icon">
                <use
                  xlink:href="static/img/ponmetroca.svg#ca-arrow_forward"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12 intestazione">
            <div class="logoimg">
              <a
                href="index.html"
                title="Comune di Cagliari - Sito istituzionale"
              >
                <img
                  src="static/img/logo_cagliari.svg"
                  alt="Logo del Comune di Cagliari"
                />
              </a>
            </div>
            <div class="logotxt">
              <h3>
                <a
                  href="index.html"
                  title="Vai alla pagina: Comune di Cagliari - Sito istituzionale"
                  >Comune di Cagliari</a
                >
              </h3>
            </div>
          </div>
        </div>
      </section>
      <section class="lista-sezioni">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a
                href="amministrazione.html"
                title="Vai alla pagina: Amministrazione"
              >
                <svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-account_balance"
                  ></use></svg
                >Amministrazione
              </a>
            </h4>
            <ul class="footer-list clearfix">
              <li>
                <a href="#" title="Vai alla pagina: Giunta e Consiglio"
                  >Giunta e Consiglio</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Aree di competenza"
                  >Aree di competenza</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Dipendenti">Dipendenti</a>
              </li>
              <li><a href="#" title="Vai alla pagina: Luoghi">Luoghi</a></li>
              <li>
                <a
                  href="#"
                  title="Vai alla pagina: Associazioni e societ&agrave; partecipate"
                  >Associazioni e societ&agrave; partecipate</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="servizi.html" title="Vai alla pagina: Servizi">
                <svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-settings"
                  ></use></svg
                >Servizi
              </a>
            </h4>
            <ul class="footer-list clearfix">
              <li>
                <a href="#" title="Vai alla pagina: Pagamenti">Pagamenti</a>
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Sostegno">Sostegno</a>
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Domande e iscrizioni"
                  >Domande e iscrizioni</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Segnalazioni"
                  >Segnalazioni</a
                >
              </li>
              <li>
                <a
                  href="#"
                  title="Vai alla pagina: Autorizzazioni e concessioni"
                  >Autorizzazioni e concessioni</a
                >
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Certificati e dichiarazioni"
                  >Certificati e dichiarazioni</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="novita.html" title="Vai alla pagina: Novit&agrave;">
                <svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-event"
                  ></use></svg
                >Novit&agrave;
              </a>
            </h4>
            <ul class="footer-list clearfix">
              <li><a href="#" title="Vai alla pagina: Notizie">Notizie</a></li>
              <li><a href="#" title="Vai alla pagina: Eventi">Eventi</a></li>
              <li>
                <a href="#" title="Vai alla pagina: Comunicati stampa"
                  >Comunicati stampa</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="documenti.html" title="Vai alla pagina: Documenti">
                <svg class="icon">
                  <use
                    xlink:href="static/img/ponmetroca.svg#ca-description"
                  ></use></svg
                >Documenti
              </a>
            </h4>
            <ul class="footer-list clearfix">
              <li>
                <a href="#" title="Vai alla pagina: Progetti e attivit&agrave;"
                  >Progetti e attivit&agrave;</a
                >
              </li>
              <li>
                <a
                  href="#"
                  title="Vai alla pagina: Delibere, determine e ordinanze"
                  >Delibere, determine e ordinanze</a
                >
              </li>
              <li><a href="#" title="Vai alla pagina: Bandi">Bandi</a></li>
              <li>
                <a href="#" title="Vai alla pagina: Concorsi">Concorsi</a>
              </li>
              <li>
                <a href="#" title="Vai alla pagina: Albo pretorio"
                  >Albo pretorio</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="lista-linkutili">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="#" title="Vai alla pagina: Amministrazione Trasparente"
                >Amministrazione Trasparente</a
              >
            </h4>
            <p>
              I dati personali pubblicati sono riutilizzabili solo alle
              condizioni previste dalla direttiva comunitaria 2003/98/CE e dal
              <abbr title="Decreto legislativo"> d.lgs.</abbr> 36/2006
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
            <p>
              <strong>Comune di Cagliari</strong><br />
              Via Roma 145 - 09124 Cagliari Codice fiscale /
              <abbr title="Partita IVA">P. IVA:</abbr> 00147990923
            </p>
            <ul class="footer-list clearfix">
              <li>
                <a
                  href="#"
                  title="Vai alla pagina: Posta Elettronica Certificata"
                  >Posta Elettronica Certificata</a
                >
              </li>
              <li>
                <a
                  href="#"
                  title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico"
                  >URP - Ufficio Relazioni con il Pubblico</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="#" title="Vai alla pagina: Newsletter">Newsletter</a>
            </h4>
            <form action="#" method="post">
              <label for="cm_newsletter">Iscriviti per riceverla</label>
              <input
                type="text"
                class="form-control"
                placeholder="Scrivi il tuo indirizzo email"
                name="newsletter"
                id="cm_newsletter"
              />
              <button
                class="btn btn-default btn-iscriviti pull-right"
                type="submit"
              >
                Iscriviti
              </button>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="#" title="Vai alla pagina: Seguici su">Seguici su</a>
            </h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item">
                <a
                  aria-label="Collegamento a sito esterno - Twitter - nuova finestra"
                  href="https://twitter.com/Comune_Cagliari"
                  title="Seguici su Twitter"
                  ><svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-twitter"
                    ></use></svg
                  ><span class="hidden">Seguici su Twitter</span></a
                >
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  aria-label="Collegamento a sito esterno - Facebook - nuova finestra"
                  href="https://www.facebook.com/comunecagliarinews.it"
                  title="Seguici su Facebook"
                  ><svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-facebook"
                    ></use></svg
                  ><span class="hidden">Seguici su Facebook</span></a
                >
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  aria-label="Collegamento a sito esterno - YouTube - nuova finestra"
                  href="https://www.youtube.com/user/ComuneCagliariNews"
                  title="Seguici su YouTube"
                  ><svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-youtube"
                    ></use></svg
                  ><span class="hidden">Seguici su YouTube</span></a
                >
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  aria-label="Collegamento a sito esterno - Telegram - nuova finestra"
                  href="https://telegram.me/comunecagliari"
                  title="Seguici su Telegram"
                  ><svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-telegram"
                    ></use></svg
                  ><span class="hidden">Seguici su Telegram</span></a
                >
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra"
                  href="tel:+393290582872"
                  title="Contattaci su WhatApp"
                  ><svg class="icon">
                    <use
                      xlink:href="static/img/ponmetroca.svg#ca-whatsapp"
                    ></use></svg
                  ><span class="hidden">Contattaci su WhatApp</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="postFooter clearfix">
        <h3 class="sr-only">Sezione Link Utili</h3>
        <a href="#" title="Privacy-Cookies">Privacy-Cookies</a> |
        <a href="#" title="Note Legali">Note Legali</a> |
        <a href="#" title="Contatti">Contatti</a> |
        <a href="#" title="Accessibilità">Accessibilità</a> |
        <a href="#" title="Mappa del sito">Mappa del sito</a> |
        <a href="#" title="La Redazione">La Redazione</a>
      </section>
    </div>
  </footer>
</div>

<div id="topcontrol" class="topcontrol bg-bluscuro" title="Torna su">
  <svg class="icon">
    <use xlink:href="static/img/bootstrap-italia.svg#it-collapse"></use>
  </svg>
</div>
