---
layout: comune-di-cagliari
title: "Prenota un appuntamento"
---

<!-- Google Tag Manager -->
<div class="body_wrapper push_container clearfix" id="page_top">

  <!--[if lt IE 8]>
  <p class="browserupgrade">È necessario aggiornare il browser</p>
  <![endif]-->
  <div class="skiplink sr-only">
    <ul>
      <li><a accesskey="2" href="#main_container">Vai ai contenuti</a></li>
      <li><a accesskey="3" href="#menup">Vai al menu di navigazione</a></li>
      <li><a accesskey="4" href="#footer">Vai al footer</a></li>
    </ul>
  </div>
  <header id="mainheader" class="navbar-fixed-top bg-blu container-fullwidth">
    <!-- Fascia Appartenenza -->
    <section class="preheader bg-bluscuro">
      <div class="container">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 entesup">
            <a aria-label="Collegamento a sito esterno - Sito della Regione Sardegna - nuova finestra" title="Regione Autonoma della Sardegna" href="http://www.regione.sardegna.it" target="_blank">
              Regione Autonoma della Sardegna 								</a>
            <!-- accedi -->
            <div class="accedi float-right text-right">
              <button class="btn btn-default btn-accedi" data-toggle="modal" data-target="xxx">
                <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-account_circle"></use></svg>
                <span>Accedi all&#8217;area personale</span>
              </button>
            </div>
            <!-- accedi -->
          </div>
        </div>
      </div>
    </section>
    <!-- Fascia Appartenenza -->				<!-- Button Menu -->
    <button class="navbar-toggle menu-btn pull-left menu-left push-body jPushMenuBtn">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar icon-bar1"></span>
      <span class="icon-bar icon-bar2"></span>
      <span class="icon-bar icon-bar3"></span>
    </button>
    <!--End Button Menu -->

    <!-- Menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="menup">
      <div class="cbp-menu-wrapper clearfix">
        <div class="logo-burger">
          <div class="logoimg-burger">
            <a href="index.html" title="Comune di Cagliari - Sito istituzionale">
              <img src="static/img/logo_cagliari_print.svg" alt="Logo del Comune di Cagliari"/>
            </a>
          </div>
          <div class="logotxt-burger">
            <a href="index.html" title="Comune di Cagliari - Sito istituzionale">Comune di Cagliari</a>
          </div>
        </div>

        <h2 class="sr-only">Menu principale</h2>














        <ul class="nav navmenu">









          <li>














            <a href="index.html" title="Vai alla pagina: Home"
            >
              Home
            </a>









          </li>





          <li>














            <a href="amministrazione.html" title="Vai alla pagina: Amministrazione"
            >
              Amministrazione
            </a>











          </li>
          <li>

















            <a href="servizi.html" title="Vai alla pagina: Servizi"
               class="current">
              Servizi
            </a>











          </li>
          <li>















            <a href="novita.html" title="Vai alla pagina: Novità"
            >
              Novità
            </a>











          </li>
          <li>















            <a href="documenti.html" title="Vai alla pagina: Documenti"
            >
              Documenti
            </a>



          </li>


        </ul> 						<ul class="utilitymobile">
        <li>
          <a href="muoversi.html" title="Vai alla pagina: Muoversi">Muoversi</a>
        </li>
        <li>
          <a href="#" title="Vai alla pagina: La citt&agrave; che cambia">La citt&agrave; che cambia</a>
        </li>
        <li>
          <a href="#" title="Vai alla pagina: Cultura">Cultura</a>
        </li>
        <li>
          <a href="#" title="Vai alla pagina: Tutti gli argomenti...">Tutti gli argomenti...</a>
        </li> 						</ul>
        <ul class="list-inline socialmobile">
          <li class="small">Seguici su</li>
          <li class=""><a target="_blank" aria-label="Collegamento a sito esterno - Twitter - nuova finestra" href="https://twitter.com/Comune_Cagliari" title="Seguici su Twitter"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-twitter"></use></svg><span class="hidden">Seguici su Twitter</span></a></li>
          <li><a target="_blank" aria-label="Collegamento a sito esterno - Facebook - nuova finestra" href="https://www.facebook.com/comunecagliarinews.it" title="Seguici su Facebook"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-facebook"></use></svg><span class="hidden">Seguici su Facebook</span></a></li>
          <li><a target="_blank" aria-label="Collegamento a sito esterno - YouTube - nuova finestra" href="https://www.youtube.com/user/ComuneCagliariNews" title="Seguici su YouTube"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-youtube"></use></svg><span class="hidden">Seguici su YouTube</span></a></li>
          <li><a target="_blank" aria-label="Collegamento a sito esterno - Telegram - nuova finestra" href="https://telegram.me/comunecagliari" title="Seguici su Telegram"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-telegram"></use></svg><span class="hidden">Seguici su Telegram</span></a></li>
          <li><a target="_blank" aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra" href="tel:+393290582872" title="Contattaci su WhatApp"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-whatsapp"></use></svg><span class="hidden">Contattaci su WhatApp</span></a></li>
        </ul>
      </div>
    </nav>
    <!-- End Menu -->


    <!-- Intestazione -->
    <div class="container header">
      <div class="row clearfix">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 comune">
          <div class="logoprint">
            <h1>
              <img src="static/img/logo_cagliari_print.png" alt="Logo del Comune di Cagliari"/>
              Comune di Cagliari 								</h1>
          </div>
          <div class="logoimg">
            <a href="index.html" title="Comune di Cagliari - Sito istituzionale">
              <img src="static/img/logo_cagliari.svg" alt="Logo del Comune di Cagliari"/>
            </a>
          </div>
          <div class="logotxt">
            <h1>
              <a href="index.html" title="Comune di Cagliari - Sito istituzionale">Comune di Cagliari</a>
            </h1>
          </div>
          <!-- pulsante ricerca mobile -->
          <div class="p_cercaMobile clearfix">
            <button aria-label="Cerca" class="btn btn-default btn-cerca pull-right" data-target="#searchModal" data-toggle="modal" type="button">
              <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-search"></use></svg>
            </button>
          </div>
          <!-- pulsante ricerca mobile -->
        </div>

        <div class="col-xl-3 col-lg-3 d-none d-lg-block d-md-none pull-right text-right">
          <!-- social-->
          <ul class="list-inline text-right social">
            <li class="small list-inline-item">Seguici su</li>
            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/Comune_Cagliari" aria-label="Collegamento a sito esterno - Twitter - nuova finestra" title="Seguici su Twitter"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-twitter"></use></svg><span class="hidden">Seguici su Twitter</span></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/comunecagliarinews.it" aria-label="Collegamento a sito esterno - Facebook - nuova finestra" title="Seguici su Facebook"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-facebook"></use></svg><span class="hidden">Seguici su Facebook</span></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.youtube.com/user/ComuneCagliariNews" aria-label="Collegamento a sito esterno - YouTube - nuova finestra" title="Seguici su YouTube"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-youtube"></use></svg><span class="hidden">Seguici su YouTube</span></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://telegram.me/comunecagliari" aria-label="Collegamento a sito esterno - Telegram - nuova finestra" title="Seguici su Telegram"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-telegram"></use></svg><span class="hidden">Seguici su Telegram</span></a></li>
            <li class="list-inline-item"><a target="_blank" href="tel:+393290582872" aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra" title="Contattaci su WhatApp"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-whatsapp"></use></svg><span class="hidden">Contattaci su WhatApp</span></a></li>
          </ul>
          <!-- social-->
        </div>

        <div class="col-xl-2 col-lg-2 col-md-4 d-none d-md-block d-md-none text-right">
          <!-- ricerca -->
          <div class="cerca float-right">
            <span>Cerca</span>
            <button aria-label="Cerca" class="btn btn-default btn-cerca pull-right" type="button" data-toggle="modal" data-target="#searchModal">
              <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-search"></use></svg>
            </button>
          </div>
          <!-- ricerca -->
        </div>
      </div>
    </div>
    <!-- Intestazione -->				<section class="hidden-xs" id="sub_nav">
    <h2 class="sr-only">Submenu</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 pull-left text-left">
          <ul class="sub_nav clearfix">




















            <li >
              <a href="amministrazione.html" title="Vai alla pagina: Amministrazione">
                Amministrazione
              </a>
            </li>













            <li class="active">
              <a href="servizi.html" title="Vai alla pagina: Servizi">
                Servizi
              </a>
            </li>











            <li >
              <a href="novita.html" title="Vai alla pagina: Novità">
                Novità
              </a>
            </li>











            <li >
              <a href="documenti.html" title="Vai alla pagina: Documenti">
                Documenti
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-4 pull-right text-right">
          <ul class="list_link-utili">
            <li>
              <a href="muoversi.html" title="Vai alla pagina: Muoversi">Muoversi</a>
            </li>
            <li>
              <a href="#" title="Vai alla pagina: La citt&agrave; che cambia">La citt&agrave; che cambia</a>
            </li>
            <li>
              <a href="#" title="Vai alla pagina: Cultura">Cultura</a>
            </li>
            <li>
              <a href="#" title="Vai alla pagina: Tutti gli argomenti...">Tutti gli argomenti...</a>
            </li>				                </ul>
        </div>
      </div>
    </div>
  </section>
  </header>
  <main id="main_container">

    <section id="briciole">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-9 col-md-12">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html" title="Vai alla pagina: Home">Home</a><span class="separator">/</span></li>
                <li class="breadcrumb-item"><a href="servizi.html" title="Vai alla pagina: Servizi">Servizi</a><span class="separator">/</span></li>
                <li class="breadcrumb-item"><a href="#" title="Vai alla pagina: Domande e iscrizioni">Domande e iscrizioni</a><span class="separator">/</span></li>
                <li class="breadcrumb-item active" aria-current="page"><a>Prenota un appuntamento</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <div data-ng-cloak data-ng-controller="ctrlPrenotazione as ctrl">
      <section id="intro">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-lg-6 col-md-8">
              <div class="titolo-sezione">
                <h2>Prenota un appuntamento</h2>
                <p data-ng-hide="ctrl.sestostep">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p data-ng-show="ctrl.sestostep" class="ng-hide verde"><strong><span data-ng-bind-html ="ctrl.appuntamento"></span></strong></p>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-4">
              <aside id="argomenti-sezione">
                <div class="argomenti">
                  <h4>Argomenti</h4>
                  <div class="argomenti-sezione-elenco">
                    <a href="#" title="Vai all'argomento: Uffici comunali" class="badge badge-pill badge-argomenti">Uffici comunali</a>
                    <a href="#" title="Vai all'argomento: Comune" class="badge badge-pill badge-argomenti">Comune</a>
                    <a href="#" title="Vai all'argomento: La città che cambia" class="badge badge-pill badge-argomenti">La città che cambia</a>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
      <section id="servizi-prenotazione">
        <a id="anchor-link"> </a>
        <div class="container">
          <form name="formPrenotazione">
            <div class="row" data-ng-hide="ctrl.sestostep">
              <div class="offset-lg-1 col-lg-6 col-md-8">
                <h4><span class="numero-step">{% raw %}{{ctrl.numstep}}{% endraw %} / 5</span><span class="testo-step">{% raw %}{{ctrl.namestep}}{% endraw %}</span></h4>
                <div class="form-group select-container">
                  <label class="sr-only" for="ufficio">Scegli l'ufficio</label>
                  <svg class="icon select-arrow"><use xlink:href="static/img/bootstrap-italia.svg#it-expand"></use></svg>
                  <select class="form-control" id="ufficio" name="ufficio"
                          data-ng-required="true"
                          data-ng-model="ctrl.ufficio"
                          data-ng-disabled="!ctrl.primostep" >
                    <option value="" disabled selected>Scegli l'ufficio</option>
                    <option data-ng-repeat="uf in ctrl.uffici" value="{% raw %}{{uf.id}}{% endraw %}" data-ng-bind-html="uf.name" data-ng-disabled="{% raw %}{{!uf.enable}}{% endraw %}">{% raw %}{{uf.name}}{% endraw %}</option>
                  </select>
                </div>
                <button data-ng-disabled="!ctrl.ufficio.length > 0" data-ng-show="ctrl.primostep" data-ng-click="ctrl.primoSubmit()" class="btn btn-verde">Prosegui</button>
              </div>
            </div>
            <div data-ng-show="ctrl.secondostep" class="ng-hide">
              <div class="row">
                <div data-ng-repeat="ref in ctrl.referenti" class="col-lg-4 col-md-6 col-sm-6 mb32">
                  <article class="scheda scheda-round scheda-referente">
                    <label for="referente{% raw %}{{ref.id}}{% endraw %}" class="dati-referente">
                      <strong>{% raw %}{{ref.name}}{% endraw %}</strong><br />
                      <span>{% raw %}{{ref.role}}{% endraw %}<br />
									{% raw %}{{ref.disp}}{% endraw %}</span>
                      <input type="radio" name="referente" id="referente{% raw %}{{ref.id}}{% endraw %}" value="{% raw %}{{ref.id}}{% endraw %}" data-ng-model="ctrl.referente" />
                      <span class="radiomark"></span>
                    </label>
                  </article>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-6 col-md-8 prenotazione-nav">
                  <button data-ng-disabled="ctrl.referente == -1" data-ng-click="ctrl.secondoSubmit()" class="btn btn-verde">Prosegui</button>
                  <a class="back" data-ng-click="ctrl.zeroSubmit()" title="indietro">Indietro</a>
                </div>
              </div>
            </div>
            <div data-ng-show="ctrl.terzostep" class="ng-hide">
              <div class="row prenota-dataora">
                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-5 col-md-6">
                  <h5>Data</h5>
                  <div id="giorno" data-datepicker data-ng-model="ctrl.giorno"> </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <h5>Ora</h5>
                  <div class="row">
                    <div class="col-sm-6">
                      <button data-ng-click="ctrl.ora = '9:00 - 9:30'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '9:00 - 9:30'}">9:00 - 9:30</button>
                      <button data-ng-click="ctrl.ora = '9:30 - 10:00'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '9:30 - 10:00'}">9:30 - 10:00</button>
                      <button data-ng-click="ctrl.ora = '10:00 - 11:00'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '10:00 - 11:00'}">10:00 - 11:00</button>
                      <button data-ng-click="ctrl.ora = '12:00 - 13:30'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '12:00 - 13:30'}">12:00 - 13:30</button>
                    </div>
                    <div class="col-sm-6">
                      <button data-ng-click="ctrl.ora = '14:00 - 15:00'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '14:00 - 15:00'}">14:00 - 15:00</button>
                      <button data-ng-click="ctrl.ora = '15:00 - 15:30'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '15:00 - 15:30'}">15:00 - 15:30</button>
                      <button data-ng-click="ctrl.ora = '16:00 - 16:30'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '16:00 - 16:30'}">16:00 - 16:30</button>
                      <button data-ng-click="ctrl.ora = '17:00 - 17:30'" class="btn btn-ora" data-ng-class="{active : ctrl.ora === '17:00 - 17:30'}">17:00 - 17:30</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-6 col-md-8 prenotazione-nav">
                  <button data-ng-disabled="(ctrl.giorno.length > 0 && ctrl.ora.length > 0) ? false : true" data-ng-click="ctrl.terzoSubmit()" class="btn btn-verde">Prosegui</button>
                  <a class="back" data-ng-click="ctrl.primoSubmit()" title="indietro">Indietro</a>
                </div>
              </div>
            </div>
            <div data-ng-show="ctrl.quartostep" class="ng-hide">
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <label for="c_causale">Dettaglio</label><br />
                  <textarea data-ng-model="ctrl.causale" rows="10" id="c_causale"></textarea>
                </div>
              </div>
              <div class="row mt40">
                <div class="offset-lg-1 col-lg-4 col-md-5">
                  <h5>Richiedente</h5>
                  <label for="c_name">Nome</label><br />
                  <input type="text" name="name" id="c_name" data-ng-model="ctrl.nome" />
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-4 col-md-5">
                  <label for="c_surname">Cognome</label><br />
                  <input type="text" name="surname" id="c_surname" data-ng-model="ctrl.cognome" />
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-4 col-md-5">
                  <label for="c_email">Email</label><br />
                  <input type="text" name="email" id="c_email" data-ng-model="ctrl.email" />
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-4 col-md-5 prenotazione-nav">
                  <button data-ng-disabled="(ctrl.causale.length > 0 && ctrl.nome.length > 0 && ctrl.cognome.length > 0 && ctrl.email.length > 0) ? false : true" data-ng-click="ctrl.quartoSubmit()" class="btn btn-verde">Prosegui</button>
                  <a class="back" data-ng-click="ctrl.secondoSubmit()" title="indietro">Indietro</a>
                </div>
              </div>
            </div>
            <div data-ng-show="ctrl.quintostep" class="ng-hide verifica">
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Interlocutore</h5>
                  <p>{% raw %}{{ctrl.uffici[ctrl.ufficio].name}}{% endraw %}<br/>{% raw %}{{ctrl.referenti[ctrl.referente].name}}{% endraw %},&nbsp;{% raw %}{{ctrl.referenti[ctrl.referente].role}}{% endraw %}</p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Data e ora</h5>
                  <p><span data-ng-bind-html="ctrl.giorno"></span>, ore&nbsp;<span data-ng-bind-html="ctrl.ora"></span></p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Dettaglio</h5>
                  <p data-ng-hide="ctrl.modifica">
                    {% raw %}{{ctrl.causale}}{% endraw %}<br /><br />
                    <a class="back" data-ng-click="ctrl.modifica = !ctrl.modifica" title="modifica">Modifica</a>
                  </p>
                  <textarea data-ng-show="ctrl.modifica" data-ng-model="ctrl.causale" rows="10"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Richiedente</h5>
                  <p>{% raw %}{{ctrl.nome}}{% endraw %}&nbsp;{% raw %}{{ctrl.cognome}}{% endraw %}<br/>
                    {% raw %}{{ctrl.email}}{% endraw %}</p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-4 col-md-5 prenotazione-nav">
                  <button data-ng-click="ctrl.quintoSubmit()" class="btn btn-verde">Conferma</button>
                  <a class="back" data-ng-click="ctrl.terzoSubmit()" title="indietro">Indietro</a>
                </div>
              </div>
            </div>
            <div data-ng-show="ctrl.sestostep" class="ng-hide verifica">
              <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12">
                  <div class="linebottom">
                    <div class="row">
                      <div class="col-xl-4 col-lg-5 col-md-6">
                        <h5>Indirizzo</h5>
                        <div class="scheda-gestione">
                          <p>
                            <a href="#" title="Vai alla scheda: {% raw %}{{ctrl.uffici[ctrl.ufficio].name}}{% endraw %}" class="">
                              <strong>{% raw %}{{ctrl.uffici[ctrl.ufficio].name}}{% endraw %}</strong>
                            </a><br>
                            <span>Via Dei Transiti 21, 50302</span>
                          </p>
                          <img class="thumbs-round" src="static/img/foto/edilizia_privata.jpg" alt="{% raw %}{{ctrl.uffici[ctrl.ufficio].name}}{% endraw %}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h4>Riepilogo</h4>
                  <h5>Interlocutore</h5>
                  <p>{% raw %}{{ctrl.uffici[ctrl.ufficio].name}}{% endraw %}<br/>{% raw %}{{ctrl.referenti[ctrl.referente].name}}{% endraw %},&nbsp;{% raw %}{{ctrl.referenti[ctrl.referente].role}}{% endraw %}</p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Data e ora</h5>
                  <p><span data-ng-bind-html="ctrl.giorno"></span>, ore&nbsp;<span data-ng-bind-html="ctrl.ora"></span></p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Dettaglio</h5>
                  <p>{% raw %}{{ctrl.causale}}{% endraw %}</p>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-10">
                  <h5>Richiedente</h5>
                  <p>{% raw %}{{ctrl.nome}}{% endraw %}&nbsp;{% raw %}{{ctrl.cognome}}{% endraw %}<br/>
                    {% raw %}{{ctrl.email}}{% endraw %}</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>				<section id="sezioni-servizi-interno">
    <div class="container">
    </div>
  </section>
    <section id="sezioni-eventi-interno">
      <div class="container">
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="container">

      <section>
        <div class="row clearfix">
          <div class="col-sm-12 intestazione">
            <div class="logoimg">
              <a href="index.html" title="Comune di Cagliari - Sito istituzionale">
                <img src="static/img/logo_cagliari.svg" alt="Logo del Comune di Cagliari"/>
              </a>
            </div>
            <div class="logotxt">
              <h3>
                <a href="index.html" title="Vai alla pagina: Comune di Cagliari - Sito istituzionale">Comune di Cagliari</a>
              </h3>
            </div>
          </div>
        </div>
      </section>					<section class="lista-sezioni">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h4>
            <a href="amministrazione.html" title="Vai alla pagina: Amministrazione">
              <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-account_balance"></use></svg>Amministrazione
            </a>
          </h4>
          <ul class="footer-list clearfix">
            <li><a href="#" title="Vai alla pagina: Giunta e Consiglio">Giunta e Consiglio</a></li>
            <li><a href="#" title="Vai alla pagina: Aree di competenza">Aree di competenza</a></li>
            <li><a href="#" title="Vai alla pagina: Dipendenti">Dipendenti</a></li>
            <li><a href="#" title="Vai alla pagina: Luoghi">Luoghi</a></li>
            <li><a href="#" title="Vai alla pagina: Associazioni e societ&agrave; partecipate">Associazioni e societ&agrave; partecipate</a></li>
          </ul>
        </div><div class="col-lg-3 col-md-3 col-sm-6">
        <h4>
          <a href="servizi.html" title="Vai alla pagina: Servizi">
            <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-settings"></use></svg>Servizi
          </a>
        </h4>
        <ul class="footer-list clearfix">
          <li><a href="#" title="Vai alla pagina: Pagamenti">Pagamenti</a></li>
          <li><a href="#" title="Vai alla pagina: Sostegno">Sostegno</a></li>
          <li><a href="#" title="Vai alla pagina: Domande e iscrizioni">Domande e iscrizioni</a></li>
          <li><a href="#" title="Vai alla pagina: Segnalazioni">Segnalazioni</a></li>
          <li><a href="#" title="Vai alla pagina: Autorizzazioni e concessioni">Autorizzazioni e concessioni</a></li>
          <li><a href="#" title="Vai alla pagina: Certificati e dichiarazioni">Certificati e dichiarazioni</a></li>
        </ul>
      </div><div class="col-lg-3 col-md-3 col-sm-6">
        <h4>
          <a href="novita.html" title="Vai alla pagina: Novit&agrave;">
            <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-event"></use></svg>Novit&agrave;
          </a>
        </h4>
        <ul class="footer-list clearfix">
          <li><a href="#" title="Vai alla pagina: Notizie">Notizie</a></li>
          <li><a href="#" title="Vai alla pagina: Eventi">Eventi</a></li>
          <li><a href="#" title="Vai alla pagina: Comunicati stampa">Comunicati stampa</a></li>
        </ul>
      </div><div class="col-lg-3 col-md-3 col-sm-6">
        <h4>
          <a href="documenti.html" title="Vai alla pagina: Documenti">
            <svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-description"></use></svg>Documenti
          </a>
        </h4>
        <ul class="footer-list clearfix">
          <li><a href="#" title="Vai alla pagina: Progetti e attivit&agrave;">Progetti e attivit&agrave;</a></li>
          <li><a href="#" title="Vai alla pagina: Delibere, determine e ordinanze">Delibere, determine e ordinanze</a></li>
          <li><a href="#" title="Vai alla pagina: Bandi">Bandi</a></li>
          <li><a href="#" title="Vai alla pagina: Concorsi">Concorsi</a></li>
          <li><a href="#" title="Vai alla pagina: Albo pretorio">Albo pretorio</a></li>
        </ul>
      </div>					    </div>
    </section>
      <section class="lista-linkutili">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4><a href="#" title="Vai alla pagina: Amministrazione Trasparente">Amministrazione Trasparente</a></h4>
            <p>
              I dati personali pubblicati sono riutilizzabili solo alle condizioni previste dalla direttiva comunitaria 2003/98/CE e dal <abbr title="Decreto legislativo">d.lgs.</abbr> 36/2006
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
            <p>
              <strong>Comune di Cagliari</strong><br />
              Via Roma 145 - 09124 Cagliari
              Codice fiscale / <abbr title="Partita IVA">P. IVA:</abbr> 00147990923
            </p>
            <ul class="footer-list clearfix">
              <li><a href="#" title="Vai alla pagina: Posta Elettronica Certificata">Posta Elettronica Certificata</a></li>
              <li><a href="#" title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico">URP - Ufficio Relazioni con il Pubblico</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4><a href="#" title="Vai alla pagina: Newsletter">Newsletter</a></h4>
            <form action="#" method="post">
              <label for="cm_newsletter">Iscriviti per riceverla</label>
              <input type="text" class="form-control" placeholder="Scrivi il tuo indirizzo email" name="newsletter" id="cm_newsletter">
              <button class="btn btn-default btn-iscriviti pull-right" type="submit">Iscriviti</button>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item"><a aria-label="Collegamento a sito esterno - Twitter - nuova finestra" href="https://twitter.com/Comune_Cagliari" title="Seguici su Twitter"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-twitter"></use></svg><span class="hidden">Seguici su Twitter</span></a></li>
              <li class="list-inline-item"><a target="_blank" aria-label="Collegamento a sito esterno - Facebook - nuova finestra" href="https://www.facebook.com/comunecagliarinews.it" title="Seguici su Facebook"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-facebook"></use></svg><span class="hidden">Seguici su Facebook</span></a></li>
              <li class="list-inline-item"><a target="_blank" aria-label="Collegamento a sito esterno - YouTube - nuova finestra" href="https://www.youtube.com/user/ComuneCagliariNews" title="Seguici su YouTube"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-youtube"></use></svg><span class="hidden">Seguici su YouTube</span></a></li>
              <li class="list-inline-item"><a target="_blank" aria-label="Collegamento a sito esterno - Telegram - nuova finestra" href="https://telegram.me/comunecagliari" title="Seguici su Telegram"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-telegram"></use></svg><span class="hidden">Seguici su Telegram</span></a></li>
              <li class="list-inline-item"><a target="_blank" aria-label="Collegamento a sito esterno - Whatsapp - nuova finestra" href="tel:+393290582872" title="Contattaci su WhatApp"><svg class="icon"><use xlink:href="static/img/ponmetroca.svg#ca-whatsapp"></use></svg><span class="hidden">Contattaci su WhatApp</span></a></li>
            </ul>
          </div>					    </div>
      </section>

      <section class="postFooter clearfix">
        <h3 class="sr-only">Sezione Link Utili</h3>
        <a href="#" title="Privacy-Cookies">Privacy-Cookies</a> |
        <a href="#" title="Note Legali">Note Legali</a> |
        <a href="#" title="Contatti">Contatti</a> |
        <a href="#" title="Accessibilità">Accessibilità</a> |
        <a href="#" title="Mappa del sito">Mappa del sito</a> |
        <a href="#" title="La Redazione">La Redazione</a>
      </section>				</div>
  </footer>
</div>

<div id="topcontrol" class="topcontrol bg-bluscuro" title="Torna su">
  <svg class="icon"><use xlink:href="static/img/bootstrap-italia.svg#it-collapse"></use></svg>
</div>
