---
---
.it-header-wrapper {
  .it-header-slim-wrapper {
    .navbar.navbar-institutional {
      background-color: transparent;

      .navbar-brand {
        font-size: .778em;
        font-weight: 400;
      }

      .navbar-nav {
        .nav-item {
          padding: .5rem 0;

          .nav-link {
            color: #06c;
            font-size: 14px;
            font-weight: 300;
            padding: 0 .75rem;
          }

          &:hover {
            @media (min-width: 992px) {
              box-shadow: 0 .25rem 0 0 #06c;
            }
          }

          &.nav-item-w-divider .nav-link {
            @media (min-width: 992px) {
              border-right: 1px solid #06c;
            }
          }

        }
      }
    }
  }

  .it-header-navbar-wrapper .navbar .navbar-collapsable .menu-wrapper {
    .navbar-nav li {
      &:first-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-left: 8px;
          }
        }
      }
      &:last-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-right: 8px;
          }
        }
      }
      a.nav-link {
        @media (min-width: 992px) {
          padding: 12px;
          font-size: .888rem;
        }
        @media (min-width: 1200px) {
          padding: 12px 24px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    min-width: 16rem;
  }
}


.bg-muted {
  background-color: #f2f7fc;
}
.col-right-bg,
.col-left-bg {
  background-size: cover;
  min-height: 250px;
}
.col-right-bg-inner,
.col-left-bg-inner {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: -60px;
  height: 120px;
  bottom: auto;
  transform: skew(0deg, 4deg);
  @media (min-width: 992px) {
    width: 200px;
    top: 0;
    bottom: 0;
    height: auto;
    transform: skew(-8deg, 0deg);
  }
}
@media (min-width: 992px) {
  .col-left-bg-inner {
    right: -120px;
    left: auto;
  }
  .col-right-bg-inner {
    left: -120px;
    right: auto;
  }
}

