---
---
.it-header-wrapper {
  .it-header-slim-wrapper {
    .navbar.navbar-institutional {
      background-color: transparent;

      .navbar-brand {
        font-size: .778em;
        font-weight: 400;
      }

      .navbar-nav {
        .nav-item {
          padding: .5rem 0;

          .nav-link {
            color: #06c;
            font-size: 14px;
            font-weight: 300;
            padding: 0 .75rem;
          }

          &:hover {
            @media (min-width: 992px) {
              box-shadow: 0 .25rem 0 0 #06c;
            }
          }

          &.nav-item-w-divider .nav-link {
            @media (min-width: 992px) {
              border-right: 1px solid #06c;
            }
          }

        }
      }
    }
  }

  .it-header-navbar-wrapper .navbar .navbar-collapsable .menu-wrapper {
    .navbar-nav li {
      &:first-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-left: 8px;
          }
        }
      }
      &:last-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-right: 8px;
          }
        }
      }
      a.nav-link {
        @media (min-width: 992px) {
          padding: 12px;
          font-size: .888rem;
        }
        @media (min-width: 1200px) {
          padding: 12px 24px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    min-width: 16rem;
  }
}




