<div class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/pietro-de-grandi-164987-unsplash.jpg"
          title="Introduzione a CloudPA" alt="Introduzione a CloudPA"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">{{ page.title }}</h1>
          <p class="d-none d-lg-block">{{ page.description }}</p>
          <small class="x-small text-white">(fotografia di <a class="text-light font-weight-semibold" href="https://unsplash.com/@peter_mc_greats?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pietro De Grandi</a> su <a class="text-light font-weight-semibold" href="https://unsplash.com/search/photos/italia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title">Perché questo progetto</h5>
            <p class="card-text">
              La transizione digitale non è una ricetta che nasce dal nulla e che può essere calata dall’alto su tutte le Pubbliche Amministrazioni: è un processo graduale, che si muove dal basso, di cui devono essere protagoniste le amministrazioni locali.
            </p>
            <p class="card-text">Questa è una partita in cui ci sono solo vincitori:</p>
            <ul class="card-text">
              <li><b>vincono le Pubbliche Amministrazioni locali</b>, che possono migliorare sensibilmente i propri servizi, evitare gli sprechi, risparmiare molte risorse;</li>
              <li><b>vincono i cittadini</b>, che possono contare su servizi all’avanguardia, sviluppati su misura, in base ai loro bisogni reali;</li>
              <li><b>vince il sistema Paese</b>, che può fare del digitale un vero motivo di eccellenza e sviluppo e sconfiggere con la trasparenza gravi problemi come la corruzione.</li>
            </ul>
            <a class="read-more" href="https://medium.com/team-per-la-trasformazione-digitale/guida-trasformazione-digitale-comune-dieci-azioni-per-diventare-pubblica-amministrazione-virtuosa-7ac7ee356bf8" target="_blank">
              <span class="text">Leggi di più su Medium</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
