<nav class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-left-side affix-top">
  <button class="custom-navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNav"><span class="it-list"></span>1. Introduzione
  </button>
  <div class="navbar-collapsable" id="navbarNav">
    <div class="overlay"></div>
    <div class="close-div sr-only">
      <button class="btn close-menu" type="button"><span class="it-close"></span>Chiudi
      </button>
    </div>
    <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use></svg><span>Indietro </span></a>
    <div class="menu-wrapper">
      <div class="link-list-wrapper">
        <h3 class="no_toc">{{ page.title }}</h3>
        <ul class="link-list">
          <li class="nav-item">
            {% for item in site.data.toc[page.ref] %}
            {% if item.first %}
            <ul class="link-list">
              {% for sottoitem in item %}
              <li class="nav-link">
                <a class="nav-link" href="#{{ sottoitem | slugify }}"><span>{{ sottoitem }}</span></a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <a class="nav-link" href="#{{ item | slugify }}"><span>{{item}}</span></a>
            {% endif %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
