<main>
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <article class="container my-4">
          <div class="row">
            <div class="col-12 col-lg-8">
              <h2>Il progetto</h2>
              <p>Il <a href="https://teamdigitale.governo.it/" target="_blank" class="font-weight-semibold">Team per la Trasformazione Digitale</a>, in collaborazione con l'<a href="https://www.agid.gov.it/" target="_blank" class="font-weight-semibold">Agenzia per l'Italia Digitale</a>, ha realizzato questo sito informativo con lo scopo di aiutare a comprendere i passi da seguire per la progettazione e la realizzazione del sito web di un comune italiano.</p>
              <p>Su queste pagine troverai tutte le informazioni necessarie per portare ai cittadini di ogni comune tutti i servizi secondo quanto previsto dalle più recenti <a href="https://docs.italia.it/italia/designers-italia/design-linee-guida-docs/" target="_blank" class="font-weight-semibold">Linee Guida di design per i servizi della Pubblica Amministrazione</a>, nel rispetto di quanto previsto dal <a href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/" target="_blank" class="font-weight-semibold">Codice dell'Amministrazione Digitale</a>.</p>
              <p>Tali azioni sono inoltre tra le raccomandazioni indicate dal Commissario Straordinario per l'attuazione dell'agenda digitale Luca Attias nel suo post su Medium, che indica i dieci passi per diventare un’amministrazione virtuosa e vincere la partita per la trasformazione digitale:</p>
              <div class="it-list-wrapper">
                <ul class="it-list">
                  <li>
                    <a href="https://medium.com/team-per-la-trasformazione-digitale/guida-trasformazione-digitale-comune-dieci-azioni-per-diventare-pubblica-amministrazione-virtuosa-7ac7ee356bf8" target="_blank">
                      <div class="it-right-zone">
                        <span class="text">Come far diventare il tuo Comune un’amministrazione virtuosa del digitale
                          <em>Dall’anagrafe unica ai pagamenti elettronici: 10 azioni per la trasformazione digitale di un Comune</em>
                        </span>
                        <span class="it-multiple"><span class="metadata">Leggi su Medium</span></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="container my-4">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div id="documenti-docs-italia" class="my-4">
                <h2>La documentazione su Docs Italia</h2>
                <p>La documentazione completa del modello per i siti web dei Comuni italiani basato sul design system di Designers Italia:</p>
                <div class="it-list-wrapper">
                  <ul class="it-list">
                    <li>
                      <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/stabile/" target="_blank">
                        <div class="it-right-zone">
                          <span class="text">Design dei siti web dei Comuni italiani
                            <em>Documentazione del modello per i siti web dei Comuni italiani basato sul design system di Designers Italia.</em>
                          </span>
                          <span class="it-multiple"><span class="metadata">Leggi su Docs Italia</span></span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>
