<div class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/pietro-de-grandi-164987-unsplash.jpg"
          title="I siti dei Comuni Italiani" alt="I siti dei Comuni Italiani"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          {% comment %}<h1>{{ page.title }}</h1>{% endcomment %}
          <p class="d-none d-lg-block">{{ page.description }}</p>
          <small class="x-small text-white">(fotografia di <a class="text-light font-weight-semibold" href="https://unsplash.com/@peter_mc_greats?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pietro De Grandi</a> su <a class="text-light font-weight-semibold" href="https://unsplash.com/search/photos/italia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            {% comment %}<h2 class="h3 card-title">Il progetto</h2>{% endcomment %}
            <p class="card-text">Il sito di un Comune è <strong>parte della vita quotidiana di ciascuno di noi</strong>: è qui che paghiamo le tasse, troviamo l’asilo nido per i nostri figli, cerchiamo informazioni sul blocco del traffico e così via.</p>
            <p class="card-text">Siamo partiti proprio da questo tipo di <strong>bisogni concreti e quotidiani</strong> per progettare un <strong>modello di sito web per i Comuni italiani</strong>. Un prototipo a disposizione di tutti i Comuni, ideato utilizzando il metodo di lavoro e gli strumenti di Designers Italia, punto di riferimento per il design dei servizi della Pubblica Amministrazione in Italia.</p>
            <a class="read-more" href="https://medium.com/team-per-la-trasformazione-digitale/modello-standard-sito-web-comuni-design-prototipo-mobile-first-open-source-organizzazione-contenuti-38b330e695a1" target="_blank">
              <span class="text">Leggi di più su Medium</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
