<div class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/pietro-de-grandi-164987-unsplash.jpg"
          title="I siti dei Comuni Italiani" alt="I siti dei Comuni Italiani"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <p class="d-none d-lg-block">{{ page.description }}</p>
          <small class="x-small text-white">(fotografia di <a class="text-light font-weight-semibold" href="https://unsplash.com/@peter_mc_greats?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pietro De Grandi</a> su <a class="text-light font-weight-semibold" href="https://unsplash.com/search/photos/italia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h1 class="card-title">Il progetto</h1>
            <p class="card-text">Il <a href="https://teamdigitale.governo.it/" target="_blank" class="font-weight-semibold">Team per la Trasformazione Digitale</a>, in collaborazione con l'<a href="https://www.agid.gov.it/" target="_blank" class="font-weight-semibold">Agenzia per l'Italia Digitale</a>, ha realizzato questo sito informativo con lo scopo di aiutare a comprendere i passi da seguire per la progettazione e la realizzazione del sito web di un comune italiano.</p>
            <p class="card-text">Su queste pagine troverai tutte le informazioni necessarie per portare ai cittadini di ogni comune tutti i servizi secondo quanto previsto dalle più recenti <a href="https://docs.italia.it/italia/designers-italia/design-linee-guida-docs/" target="_blank" class="font-weight-semibold">Linee Guida di design per i servizi della Pubblica Amministrazione</a>, nel rispetto di quanto previsto dal <a href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/" target="_blank" class="font-weight-semibold">Codice dell'Amministrazione Digitale</a>.</p>
            <p class="card-text">Tali azioni sono inoltre tra le raccomandazioni indicate dal Commissario Straordinario per l'attuazione dell'agenda digitale Luca Attias nel suo post su Medium, che indica i dieci passi per diventare un’amministrazione virtuosa e vincere la partita per la trasformazione digitale:</p>
            <div class="it-list-wrapper">
              <ul class="it-list">
                <li>
                  <a href="https://medium.com/team-per-la-trasformazione-digitale/guida-trasformazione-digitale-comune-dieci-azioni-per-diventare-pubblica-amministrazione-virtuosa-7ac7ee356bf8" target="_blank">
                    <div class="it-right-zone">
                        <span class="text">Come far diventare il tuo Comune un’amministrazione virtuosa del digitale
                          <em>Dall’anagrafe unica ai pagamenti elettronici: 10 azioni per la trasformazione digitale di un Comune</em>
                        </span>
                      <span class="it-multiple"><span class="metadata">Leggi su Medium</span></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
