<main>
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <article class="container my-4">
          <div class="row">
            <div class="col-12 col-lg-8">
              <p markdown="1">
                Il Team per la Trasformazione Digitale, in collaborazione con l'Agenzia per l'Italia Digitale, ha realizzato questo sito informativo con lo scopo di aiutare a comprendere i passi da seguire per la realizzazione del sito di un comune italiano.
              </p>
            </div>
          </div>
        </article>
        <article class="container my-4">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div id="documenti-docs-italia" class="my-4">
                <h2>La documentazione su Docs Italia</h2>
                <div class="it-list-wrapper">
                  <ul class="it-list">
                    <li>
                      <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/stabile/">
                        <div class="it-right-zone">
                          <span class="text">Design dei siti web dei Comuni italiani
                            <em>Documentazione del modello per i siti web dei Comuni italiani basato sul design system di Designers Italia.</em>
                          </span>
                          <span class="it-multiple"><span class="metadata">Leggi su Docs Italia</span></span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="documenti-medium" class="my-4">
                <h2>Il post su Medium</h2>
                <div class="it-list-wrapper">
                  <ul class="it-list">
                    <li>
                      <a href="https://medium.com/team-per-la-trasformazione-digitale/guida-trasformazione-digitale-comune-dieci-azioni-per-diventare-pubblica-amministrazione-virtuosa-7ac7ee356bf8" target="_blank">
                        <div class="it-right-zone">
                          <span class="text">Come far diventare il tuo Comune un’amministrazione virtuosa del digitale
                            <em>Dall’anagrafe unica ai pagamenti elettronici: 10 azioni per la trasformazione digitale di un Comune</em>
                          </span>
                          <span class="it-multiple"><span class="metadata">Leggi su Medium</span></span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>
